@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Zain-Light";
  src: url("/fonts/Zain/Zain-ExtraLight.ttf") format('truetype');/* Demi is generally considered as semi-bold or demi-bold */
}
@font-face {
  font-family: "Zain-Regular";
  src: url("/fonts/Zain/Zain-Regular.ttf") format('truetype');/* Demi is generally considered as semi-bold or demi-bold */
}

:root {
  --color-bg: #fffffa;
  --color-surface: #f8f9fa;
  --color-text: #111111;
  --color-primary: #e11d48;
  --color-secondary: #2563eb;
  --color-muted: #737373;
  --color-border: #e5e7eb;
}

[data-theme="light-red"] {
  --color-bg: #fffffa;
  --color-surface: #f8f9fa;
  --color-text: #111111;
  --color-text-hover: #ffffff;
  --color-primary: #e41c23;
  --color-secondary: #b40e02;
  --color-muted: #9ca3af;
  --color-border: #2f2f2f;
  --text-font-light: "Zain-Light", Arial, sans-serif;
  --text-font-regular: "Zain-Regular", Arial, sans-serif;
}

[data-theme="dark-red"] {
  --color-bg: #0f0f11;
  --color-surface: #1a1a1c;
  --color-text: #ffffff;
  --color-text-hover: #ffffff;
  --color-primary: #e41c23;
  --color-secondary: #b40e02;
  --color-muted: #9ca3af;
  --color-border: #2f2f2f;
  --text-font-light: "Zain-Light", Arial, sans-serif;
  --text-font-regular: "Zain-Regular", Arial, sans-serif;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  border-color: var(--color-border);
  font-family: var(--text-font-regular);
}

h1 {
  font-size: 50;
  font-family: var(--text-font-regular);
}

button{
  font-family: var(--text-font-regular);
}
